body {
  background-color: darkgray;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100dvh;
  color: black;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

main {
  text-align: center;
}

.play-area {
  display: flex;
  justify-content: center;
  gap: 40px;
  margin: 30px 0;
}

/* Card Modifiers */
.card-large {
  font-size: 26px;
}

.card-shadow {
  box-shadow: 10px 10px 10px rgba(50, 50, 50, 0.95);
}

.card-back {
  background-image: url("../images/backs/blue.svg");
}

/* Button */
.btn {
  padding: 1rem;
  font-size: 1rem;
  border-radius: 5px;
  background-color: bisque;
  color: darkblue;
  border: 2px solid darkblue;
  cursor: pointer;
}

.btn:hover {
  background-color: white;
}

