body {
  background-color: darkgray;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100dvh;
  color: black;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

main {
  text-align: center;
}

.play-area {
  display: flex;
  justify-content: center;
  gap: 40px;
  margin: 30px 0;
}

