body {
  background-color: lightblue;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100dvh;
  color: rgb(19, 80, 160);
  font-family: "Inter", system-ui, -apple-system, BlinkMacSystemFont, sans-serif;
}

main {
  text-align: center;
}

h1 {
  margin-bottom: 50px;
  text-shadow: 0 0 10px aqua, 0 0 20px blueviolet, 0 0 30px blueviolet,
    0 0 40px aqua;
}

.scoreboard {
  display: flex;
  justify-content: center;
  margin: 30px;
  gap: 10px;
  text-shadow: 0 0 10px aqua, 0 0 20px blueviolet, 0 0 30px blueviolet,
    0 0 40px aqua;
  text-transform: uppercase;
  font-weight: 700;
}

#round-message {
  text-shadow: 0 0 10px aqua, 0 0 20px blueviolet, 0 0 30px blueviolet,
    0 0 40px aqua;
  font-weight: 700;
  margin-bottom: 35px;
}

.play-area {
  display: flex;
  justify-content: center;
  gap: 40px;
}

/* Card Modifiers */
.card-large {
  font-size: 25px;
}

.card-shadow {
  box-shadow: 10px 10px 10px rgba(50, 50, 50, 0.95);
}

.card-back {
  background-image: url("../images/backs/blue.svg");
}

/* Button */
.btn {
  padding: 1rem;
  font-size: 1.2rem;
  border-radius: 10px;
  background: none;
  color: rgb(19, 80, 160);
  border: 5px transparent;
  cursor: pointer;
  text-shadow: 0 0 10px aqua, 0 0 20px blueviolet, 0 0 30px blueviolet,
    0 0 40px aqua;
  font-weight: 700;
}

.btn:hover {
  background-color: white;
}
